{$DOMAIN:localhost} {
  encode zstd gzip
  handle /api/* {
    reverse_proxy api:3001
  }
  reverse_proxy site:3000
}

admin.{$DOMAIN:localhost} {
  handle /api/* {
    reverse_proxy api:3001
  }
  reverse_proxy admin:4173
}

api.{$DOMAIN:localhost} {
  reverse_proxy api:3001
}
